* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.container {
    height: 40vh;
    width: 50vw;
    background-color: darkslategray;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

p {
    line-height: 30px;
}

button {
    border-radius: 10px;
    margin-top: 150px;
    padding: 10px 20px;
    background-color: gold;
    color: darkslategrey;
    cursor: pointer;
    position: fixed;
}